@import "../shared/themes.scss" ;

.register-body {
    background-color: black;
    text-align:center;

}    


.actiontxt {
    width: 100%;
    height: 200px;
    border: none;
    background-color: black;
    color: $theme-main-color;
    font-family: $main-font-family;
    box-shadow: none;
    font-size: $standard-margin-size;
    line-height: $standard-margin-size;
    font-family: inherit;
    padding: .5rem;
    margin-top: $standard-margin-size;

    textarea {
    color: $theme-main-color;
    font-family: $main-font-family;
    }
}

.report-form {
    display:flex;
    flex-direction: column;
    justify-content:center;
    max-width: 600px;
    margin: 0 auto;
    color: $theme-main-color;
    font-family: $main-font-family;

}


.reportbtn {
    color: $theme-main-color;
    font-family: $main-font-family;
    border: none;
    background-color: $theme-red-color;
    width: 150px;
    height: 39px;
    border-radius: 30px;
    align-self: center;
    outline:none;
    margin-top: 6%;
    font-size: 20px;

}

.optionstyle {
    background-color: black;
    font-family: $main-font-family;
    border: none;
    color:$theme-red-color;
    padding:15px;
    border-bottom: 2px solid $theme-main-color;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    height: 45px;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;


    &:focus {
  
  box-shadow: 0 0 10px rgba(441, 3, 38, 11);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid rgba(441, 3, 38, 11);
  
}
}

h1 {
    color: $theme-main-color;
    font-family: $main-font-family;
    font-size: 46px;
    margin-bottom: 20px;
}

h3 {

    color:$theme-main-color;
    font-family: $main-font-family;
    font-size: 23px;
    margin-bottom: 20px;

}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  height: 45px;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 10px rgba(441, 3, 38, 11);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid rgba(441, 3, 38, 11);
}