@import "../shared/themes.scss" ;

.encounters-body {
    text-align:center;

}    


.encounterli {
    text-align: left;
    margin-left: 5%;
    font-family: $main-font-family;
    width: 100%;
    height: 350px;
    border: none;
    box-shadow: none;
    font-size: $standard-margin-size;
    line-height: $standard-margin-size;
    font-family: inherit;
    padding: .5rem;
    margin-top: $standard-margin-size;
    overflow: scroll;

 p {
    font-family: $main-font-family;
}
}


.encounter-report {
    color: white;
    background-color: $theme-red-color;
    font-family: $main-font-family;
    border: none;
    margin: 1%;
    width: 200px;
    border-radius: 15px;
    outline:none;
    font-size: 20px;
}

.encounters-div {
    background-color: black;
    color: $theme-main-color;
}

h1 {
    font-family: $main-font-family;
    font-size: 46px;
    margin-bottom: 20px;
}

h3 {
    font-family: $main-font-family;
    font-size: 23px;
    margin-bottom: 20px;

}