<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  </head>


<body class="register-body">


  <div class="register-div">
  <h1> Register</h1>


<form class="register-form">
 
  <input class="optionstyle" type="text" name="name" placeholder="Name" [(ngModel)]="colonist.name">

  <input class="optionstyle" type="number" name="age" placeholder="Age" [(ngModel)]="colonist.age">
  <select [(ngModel)]="colonist.job_id" class="optionstyle" name="job_id">
  <option [value]='NO_JOB_SELECTED'>Select Occupation:</option>
  <option *ngFor="let job of marsJobs" [value]="job.id"> {{ job.name }} - {{job.id}} </option>

</select>
</form>
<button [disabled]="occupationSelected"class="check-in"> Check in </button>

{{ colonist.name }} - {{colonist.age}} - {{colonist.job_id}}
</div>

