.register-body {
    background-color: black;
    text-align:center;

}

.register-form {
    display:flex;
    flex-direction: column;
    justify-content:center;
    max-width: 600px;
    margin: 0 auto;

}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
}

.check-in {
       color: white;
    font-family: 'Raleway', sans-serif;
    border:none;
    background-color: black;
    margin-top: 6%;
    font-size: 20px;

}
.optionstyle {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    border: none;
    color:red;
    padding:15px;
    border-bottom: 2px solid white;
}