<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  </head>


<body class="register-body">


  <div class="register-div">
  <h1> Register</h1>


<form class="register-form">
 
  <input class="optionstyle" type="text" name="name" placeholder="Name">

  <input class="optionstyle" type="number" name="age" placeholder="Age">
  <select class="optionstyle">
  <option value=''>Select Occupation:</option>
  <option>Piggie</option>
  <option>Coffee Grinder</option>
  <option>Tea Drinker</option>
</select>
</form>
<button class="check-in"> Check in </button>
</div>

